<!-- ending.html -->
{{define "body"}}
	<div class = "end">
        <div class = "end-text">    
            <h1 class = "end">HUZZAH! HUZZAH! HUZZAH!</h1> 
            <h2 class = "end">YOU HAVE ESCAPED THE MAZE!</h2>
            <h3>
                You were able to overcome all the obstacles and find your way out!<br />
                You breath in the cool fresh air and stare into the beautiful sunset.<br />
            </h3>
            <p class="end"><a class="end" href="/">Return to the main page.</a></p>
        </div>
        <div class="end-img">
            <img class="end-img" src="/assets/images/end.png" alt="Sunset" width="600" height="600" />
        </div>
    </div>
{{end}}