<!-- ending.html -->
{{define "body"}}
	<div class = "end">
        <h1 class = "end">HUZZAH! HUZZAH! HUZZAH!</h1> 
        <h2 class = "end">YOU HAVE ESCAPED THE MAZE!</h2>
        <h3>
            You were able to overcome all the obstacles and find your way out!<br />
            You breath in the cool fresh air and stare into the beautiful sunset.<br />
        </h3>
        <div class="end">
            <a class="end" href="/"><span class="end">Return to the main page.</span></a>
        </div>
    </div>
{{end}}