<!-- index.html -->
{{define "body"}}
	<div class="marquee">
		<h1>Boot.dev Capstone Project!</h1> 
	</div>
	<div class="title">
		<h2>Hatrock Dungeon Explorer!</h2>
	</div>
    <h3>
		You will explore the ancient Hatrock Dungeon.<br />
		Within the dungeon is a maze of rooms you must navigate.<br/>
		To explore you click on the compass arrow in the direction you wish to move.<br /> 
		As you move the maze will be revealed!
	</h3>
	<div class="start">
		<a class="start" href="/app?action=start"><span class="start">Start!</span></a>
	</div>
{{end}}