<!-- maze.html -->
{{define "body"}}
    <h4>{{.Title}}</h4>
    {{.Instructions}}
    <div class="main">
        <div class="maze">
            {{.Rooms}}
        </div>
        <div class="compass">
            {{.Compass}}
            <div class="return">
                <a class="return" href="/"><span class="return">HOME</span></a>
            </div>
        </div>
        <div class="inventory">
            <p class="inventory-title">Inventory</p>
            <p class="inventory">{{.Inventory}}</p>
        </div>
        <div class="description">
            <p class="description">{{.Description}}</p>
        </div>
        {{.Action}}
    </div>
{{end}}